%p
  Привіт,
  = @resource.email
  !

%p Нам надійшов запит на зміну пароля для Вашого облікового запису. Ви можете це зробити за допомогою посилання:

%p= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token)

%p Будь ласка, ігноруйте це повідомлення, якщо ви не робили запит на зміну пароля.
%p Ваш пароль не буде змінено, допоки Ви не зміните його самостійно за допомогою посилання.
